services:
  tsdproxy:
    secrets:
      - tsdproxy_auth
  postgres:
    secrets:
      - postgres_password
    environment:
      - POSTGRES_PASSWORD_FILE=/run/secrets/postgres_password
  n8n:
    secrets:
      - postgres_password
    environment:
      - DB_POSTGRESDB_PASSWORD_FILE=/run/secrets/postgres_password
      - N8N_VECTOR_STORE_POSTGRES_PASSWORD_FILE=/run/secrets/postgres_password
secrets:
  postgres_password:
    environment: POSTGRES_PASSWORD

  tsdproxy_auth:
    environment: TSDPROXY_AUTH
