# version: '3'
services:
  initContainer:
    image: busybox
    command: ["sh", "-c", "chown -R 1000:1000 /home/node/.n8n"]
    volumes:
      - /opt/n8n_data:/home/node/.n8n

  postgres:
    image: pgvector/pgvector:pg16
    restart: always
    container_name: postgres
    environment:
      - POSTGRES_DB=n8n
      - POSTGRES_USER=n8n
    volumes:
      - /opt/postgres_data:/var/lib/postgresql/data
    ports:
      - 5432:5432
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U n8n -d n8n"]
      interval: 30s
      timeout: 10s
      retries: 3

  n8n:
    image: docker.n8n.io/n8nio/n8n:1.120.1
    restart: always
    container_name: n8n
    ports:
      - 5678:5678
    depends_on:
      - initContainer
      - postgres
    volumes:
      - /opt/n8n_data:/home/node/.n8n
    environment:
      - N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS=true
      # - N8N_PROTOCOL=https
      - WEBHOOK_URL=https://n8n.dzo-byzantine.ts.net
      - N8N_PROXY_HOPS=1
      # - N8N_SECURE_COOKIE=false
      # Database configuration
      - DB_TYPE=postgresdb
      - DB_POSTGRESDB_HOST=postgres
      - DB_POSTGRESDB_PORT=5432
      - DB_POSTGRESDB_DATABASE=n8n
      - DB_POSTGRESDB_USER=n8n
      # Vector store configuration
      - N8N_VECTOR_STORE_ENABLED=true
      - N8N_VECTOR_STORE_TYPE=postgres
      - N8N_VECTOR_STORE_POSTGRES_HOST=postgres
      - N8N_VECTOR_STORE_POSTGRES_PORT=5432
      - N8N_VECTOR_STORE_POSTGRES_DATABASE=n8n
      - N8N_VECTOR_STORE_POSTGRES_USER=n8n
    labels:
      - tsdproxy.enable=true
      - tsdproxy.funnel=true
