version: "3.8"

x-common-config: &common-config
  restart: unless-stopped

services:
   redis:
     <<: *common-config
     image: docker.io/library/redis:8
     volumes:
       - redis_data:/data
     secrets:
       - source: redis_password
         target: redis_password
     command: sh -c "redis-server --requirepass $(cat /run/secrets/redis_password)"

   paperless:
    <<: *common-config
    image: ghcr.io/paperless-ngx/paperless-ngx:2.18.4
    depends_on:
      - redis
    volumes:
      - paperless_data:/usr/src/paperless/data
      - paperless_media:/usr/src/paperless/media
      - paperless_consume:/usr/src/paperless/consume
      - paperless_export:/usr/src/paperless/export
    environment:
      TZ: America/Toronto
      PAPERLESS_REDIS: redis://redis:6379
      PAPERLESS_SECRET_KEY_FILE: /run/secrets/paperless_secret_key
      PAPERLESS_ADMIN_PASSWORD_FILE: /run/secrets/paperless_admin_password
    secrets:
      - source: paperless_secret_key
        target: paperless_secret_key
      - source: paperless_admin_password
        target: paperless_admin_password

volumes:
  paperless_data:
  paperless_media:
  paperless_consume:
  paperless_export:
  redis_data:

secrets:
  redis_password:
    file: ../../secrets/redis_password.txt
  paperless_secret_key:
    file: ../../secrets/paperless_secret_key.txt
  paperless_admin_password:
    file: ../../secrets/paperless_admin_password.txt