version: "3.8"

services:
  pihole:
    container_name: pihole
    image: pihole/pihole:2025.11.0
    environment:
      TZ: America/Toronto
      FTLCONF_dns_listeningMode: single
      FTLCONF_dns_interface: eth0
      FTLCONF_dns_upstreams: "1.1.1.1;1.0.0.1"
    command: sh -c "export FTLCONF_webserver_api_password=$(cat /run/secrets/pihole_password) && /s6-init"
    restart: unless-stopped
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "8080:80/tcp"
    volumes:
      - /opt/pihole/etc-pihole:/etc/pihole
      - /opt/pihole/etc-dnsmasq.d:/etc/dnsmasq.d
    secrets:
      - source: pihole_password
        target: pihole_password

secrets:
  pihole_password:
    file: ../../secrets/pihole_password.txt
